body { 
	height:100%;
	margin:0;
	padding:0;
	font-size: 90.01%;
	font-family: Arial; /*, Helvetica, sans-serif;*/
}
a:hover {text-decoration:none;}

/*h2,h3,h4,h5 {margin-bottom:0px;margin-top:0px;}*/

.hr{border-bottom:1px solid; height:1px; font-size:1px; margin-bottom:20px;}
.br{height:1px; font-size:1px; line-height:1px; clear:both;}
span.small-grey{font-size:0.90em;}

#page-wrapper{min-height:100%;margin:0 auto;min-width:1000px; max-width:1306px;width:1306px;/*width:82%;*/border-radius: 0px 0px 25px 25px;}

span.grey{display:block; margin-left: -14px; padding: 6px 14px;}

/* BANNER */
#banner-top {text-align:center;margin-top:5px;}
#banner-left{text-align:center;margin-bottom:20px;}
#banner-left-two{text-align:center;margin-bottom:20px;margin-top:20px;}

/* HEADER */
#header {position: relative;height:150px;border-radius: 0px 0px 25px 25px;min-width:1000px;max-width:1306px;}
#header .header-line{height:6px;width:100%;}
#header .header-line .header-line-darck{height:6px;width:373px;float:right;}

#header .header-logo{height:144px;width:138px;text-align:right;float:left;}
#header .header-logo .logo-block{height:144px;width:138px;}
#header .header-logo .logo-block .header-link{}
#header .header-logo .logo-block .header-link .logo-img{width:98px;height:98px;display:inline-block;margin-top: 19px;}

#header .header-text{height: 144px;width:20%;float: left;}
#header .header-text h1{margin-top:28px;margin-left:20px;margin-bottom:0px;padding-bottom:2px;}
#header .header-text .text-info{margin-left:20px;margin-top:10px;}    
#header .header-text .chisla{}
#header .header-text .chisla-text{}

#header .header-position{float:right;}
#header .header-hotline .header-hotline-position{float:right;}
#header .header-hotline{float:left;height: 144px;/*left:45%;position: absolute;*/margin-right: 40px;}
#header .header-hotline .hotline-text{display:inline-block;margin-top:24px;}
#header .header-hotline .hotline-telefon{display:inline-block;margin-top:6px;}
#header .header-hotline .hotline-button{display:inline-block;margin-top:6px;border-radius: 25px 25px 25px 25px;width:237px;height: 15px;padding-bottom:5px;padding-top:5px; cursor: pointer;}
#header .header-hotline .hotline-button .button-preloader{position: relative;left: 7px;top: -2px;height: 19px;width:21px;margin-left:0px;}
#header .header-hotline .hotline-button .button-text{display: block;height:15px;position:relative;top:-19px;width:214px;left:23px;}

#header .header-support{float:left;height:144px;width:373px;border-radius: 0px 0px 25px 0px;}
#header .header-support .support-text{display:inline-block;margin-top:24px;margin-left: 40px;}
#header .header-support .support-block-text{display:inline-block;margin-top:6px;margin-left: 40px;}
#header .header-support .support-button{
  display: inline-block;
  margin-top: 14px;
  border-radius: 25px 25px 25px 25px;
  margin-left: 40px;
  width: 156px;
  height: 18px;
  padding-bottom: 5px;
  padding-top: 8px;
	}

#header .header-support .support-button-text .button-text{display: block;height: 15px;left: 23px;position: relative;top: -19px;width: 214px;}





/* SEARCH */
#left-search {margin-bottom: 15px; margin-top:-5px; padding-left:15px}
#left-search #title-search-input {width:75%;}
/*table.search-filter select.select-field, div.search-page input.search-button {font-size:1em}
table.search-filter td {padding:0.6em;}*/
div.search-item {font-size:0.85em;margin: 1em 0 0 0;   padding: 0 0 1em;}

/* AUTH 
#header-auth{position:absolute; right:20px; top:5px; font-size:0.75em; font-family: Verdana, Arial, Helvetica, sans-serif;}
#header-auth a{margin-left:20px;}
*/

/* BODY */
#page-body{min-height:600px;border-radius: 0px 0px 25px 25px;}
#page-body .top-page-body-line{height:6px;width:100%;}
div.hr-title{margin-bottom:15px;}

/**/
#page-body .main-page-frame{width:100%;} 
#page-body .main-page-frame .main-page-frame-line{height:373px; width:100%;}
#page-body .main-page-frame .main-page-frame-line .line-one-block{height:373px;width:33%;display: inline-block;margin-left: 67%;}
#page-body .main-page-frame .main-page-frame-line .line-two-block{height:373px;width:33%;display: inline-block;margin-left: 7%;}
#page-body .main-page-frame .main-page-frame-line .line-three-block{height:373px;width:33%;display: inline-block;margin-left: 67%;}
#page-body .main-page-frame .block-h3{margin-top: 100px;}
#page-body .main-page-frame .delimiter_line{height:3px;width:20px;}
#page-body .main-page-frame .block-text-list{}
#page-body .main-page-frame .block-link{height:30px;width: 159px;}
#page-body .main-page-frame .block-link .link-button{border-radius: 25px 25px 25px 25px;border-style: solid;height:30px;width: 159px;}
#page-body .main-page-frame .block-link .link-button span{display: inline-block;margin-top: 6px;color: #5e97bc;}

#page-body .main-page-brend{height:380px;width: 100%;}
#page-body .main-page-brend .block-h2{width:100%;height:80px;padding-top:70px;display:inline-block;text-align:center;}
#page-body .main-page-brend .block-link{width:100%;display:inline-block;height:230px;text-align: center;}
#page-body .main-page-brend .block-link div{width:24%;display:inline-block;position:relative;}
#page-body .main-page-brend .block-link .swissgetal{display: inline-block;width:212px;height:62px;}
#page-body .main-page-brend .block-link .swissgetal-div{top:-70px;}
#page-body .main-page-brend .block-link .intra{display: inline-block;width:203px;height:42px;}
#page-body .main-page-brend .block-link .intra-div{top:-87px;}
#page-body .main-page-brend .block-link .prano{display: inline-block;width:175px;height:121px;}
#page-body .main-page-brend .block-link .prano-div{top:-57px;}
#page-body .main-page-brend .block-link .phytorelax{display: inline-block;width:211px;height:38px;}
#page-body .main-page-brend .block-link .phytorelax-div{top:-91px;}
#page-body .main-page-brend .block-link .link-delimiter{display: inline-block;width:5px;height:230px;}



/* FOOTER */
#footer-wrapper  {
	height: 110px; 
	padding-top:73px; 
	position: relative; 
	margin: 0 auto;
	min-width: 1000px; 
	max-width: 1306px;
	/*width:82%;*/
	width:1306px;
	}

#footer-wrapper .bottom-foter-block{height: 105px;width:100%;border-radius: 25px 25px 0px 0px;}
#footer-wrapper .bottom-foter-block .foter-block-copyright{height: 105px;width:30.75%;border-radius: 25px 0px 0px 0px;font: 7pt arial;float:left;}
#footer-wrapper .bottom-foter-block .foter-block-copyright .foter-block-copyright-position{height:19px; padding-top: 25px; margin: 0 auto;}
#footer-wrapper .bottom-foter-block .foter-block-copyright .foter-block-copyright-position .logo-text{text-align: center;}
#footer-wrapper .bottom-foter-block .foter-block-copyright .foter-block-copyright-position .logo-text div{ margin:0px;}
#footer-wrapper .bottom-foter-block .foter-block-copyright .foter-block-copyright-position .foter-disigen-logo{height: 16px;width:29px;display: inline-block;}

#footer-wrapper .bottom-foter-block .foter-block-main{float:left;height: 105px;width:48.5%;font: 7pt arial;}
#footer-wrapper .bottom-foter-block .foter-block-main .foter-block-main-position{padding-top:50px;padding-left:4%;padding-right:4%;}
#footer-wrapper .bottom-foter-block .foter-block-main .foter-block-main-position .foter-block-main-text{float:left;}
#footer-wrapper .bottom-foter-block .foter-block-main .foter-block-main-position .foter-block-main-delimiter{margin-left:4%;margin-right:4%;float:left;}

#footer-wrapper .bottom-foter-block .foter-block-social{float:right;height: 105px;width:20.75%;border-radius: 0px 25px 0px 0px;font: 7pt arial;}
#footer-wrapper .bottom-foter-block .foter-block-social .foter-block-social-position{padding-top: 41px;text-align: center;}
#footer-wrapper .bottom-foter-block .foter-block-social .foter-block-social-position .foter-block-fb-icon{display: inline-block;height:27px;width:27px;margin: 0 4px;}
#footer-wrapper .bottom-foter-block .foter-block-social .foter-block-social-position .foter-block-g-icon{display: inline-block;height:27px;width:27px;margin: 0 4px;}
#footer-wrapper .bottom-foter-block .foter-block-social .foter-block-social-position .foter-block-vk-icon{display: inline-block;height:27px;width:27px;margin: 0 4px;}

#footer-wrapper .bottom-foter-line{height: 5px;	width:100%;}
#footer-wrapper .bottom-foter-line .bottom-foter-line-darck{height: 5px;width:30.75%;}


/* MAIN MENU */
#main-menu {overflow:hidden;height:100px;height:61px;}
/*#main-menu ul {list-style-type: none; overflow: hidden; margin:0; padding:0; }
#main-menu li {margin: 0; padding:0; height: 27px; }
#main-menu li a {font-size:1.4em; text-decoration: none; font-weight:bold; line-height:27px;}
#horizontal-multilevel-menu li a.root-item,#horizontal-multilevel-menu li a.root-item:hover,#horizontal-multilevel-menu li a.root-item-selected {padding:0 12px;}
#horizontal-multilevel-menu, #horizontal-multilevel-menu ul {background:none;}*/

/* MAIN MAP */
#main-map{height:461px;border-radius: 0px 0px 25px 25px;}
#main-map .top-map-line{width:100%; height:6px;}
#main-map .map_text{margin-left:74px;width:40%;height:390px;float:left;}
#main-map .map_text .line-one-block{dispay:block;}
#main-map .map_text .block-h3{margin-top:70px;}
#main-map .map_text .delimiter_line{margin-top:20px;height:4px;width:28px;}
#main-map .map_text .block-text-list{margin-top:20px;}
#main-map .map_text .block-link{display: inline-block;height:27px;width:212px;}
#main-map .map_text .block-link .link-button{text-align: center;display:inline-block;margin-top:10px;width:270px;border-radius: 25px 25px 25px 25px;height:34px;}
#main-map .map_text .block-link .link-button span{display:inline-block;height:20px;margin-top:7px;}
#main-map .map_text .text-info-block{margin-top:40px;height:40px;width:320px;}
#main-map .map_text .text-info{height:40px;width:320px;}
#main-map .map_text .text-info .chisla{}
#main-map .map_text .text-info .chisla-text{}
#main-map .map_frame{
	height:523px;
	width:781px;
	/*top:265px;*/
	margin-left: 431px;
    margin-top: -6px;
	}

/* MAIN ACHIEVEMENTS */
#main-achievements{height:252px;width:100%;min-width: 1000px;overflow:hiden;/*margin-top: 60px;*/}
/*#main-achievements .top-map-line{height:192px;}*/
#main-achievements .achievements-blok{width:33.33%;height:252px;float:left;}
#main-achievements .achievements-blok .blok-img{float:left;height:117px;width:116px;margin-top:70px;margin-left:30px;}
#main-achievements .achievements-blok .blok-img .one{}
#main-achievements .achievements-blok .blok-img .two{}
#main-achievements .achievements-blok .blok-img .three{}
#main-achievements .achievements-blok .blok-text{display:inline-block;margin-top:93px;}
#main-achievements .achievements-blok .blok-text p{display:inline-block;margin-left:20px;}
#main-achievements .achievements-blok .blok-text .delimiter_line{height:3px; width:20px;margen-top:10px;margin-left:20px;}

#modul {width:100%;}
#modul .block{width:360px;height:354px;float:left;border-radius: 0px 0px 25px 25px;}
#modul .block .blok-text .delimiter_line{height:3px;width:20px;}
#modul .block .blok-text .block-text-list{}
#modul .block .blok-text .block-link{height:43px;border-radius: 25px 25px 25px 25px;}
#modul .blok_one .blok-text .block-link{width:150px;text-align: center;}
#modul .blok_two .blok-text .block-link{width:150px;text-align: center;}
#modul .blok_three .blok-text .block-link{width:200px;text-align: center;}
#modul .block .blok-text .block-link .link-button{padding-top: 12px;}
#modul .block .blok-text{margin-left: 39px; margin-top: 190px;}
#modul .block .top-line{height:6px;width:100%;margin-top:-1px;}
#modul .blok_one{margin-left:50px;margin-right:25px;}
#modul .blok_two{margin-left:25px;margin-right:25px;}
#modul .blok_three{margin-left:25px;margin-right:50px;}
#modul .ugol_1{height:36px;width:36px;margin-left: 326px;margin-top: -20px;}
#modul .ugol_2{height:36px;width:36px;margin-left: 326px;margin-top: -20px;}
#modul .ugol_3{height:36px;width:36px;margin-left: 326px;margin-top: -20px;}

#row-line{height:350px;width:1306px;padding-top:80px;}
#row-line .block_one{float:left;margin-left:50px;height: 100%; width:60%;}
#row-line .block_one .news-link-block{}
#row-line .block_one .news-link-block .block-span{float:left;}
#row-line .block_one .news-link-block .block-link{float:left;}
#row-line .block_one .news-link-block span{}
#row-line .block_one .news-link-block .block-link .link-button{
	border-radius: 25px 25px 25px 25px;
	margin-left: 25px;
	width:200px;
	text-align:center;
	height: 24px;
    margin-top: 5px;
    padding-bottom: 3px;
    padding-top: 3px;}
    
#row-line .block_one .one_block{float: left;height:150px;width:328px;margin-top: 50px;}
#row-line .block_one .two_block{float: left;height:150px;width:400px;margin-top: 56px;margin-left: 50px;}
  
#row-line .block_two{float:left;margin-top:60px;margin-left:30px;height:197px;width:395px;border-radius: 0px 0px 25px 25px;} 
#row-line .block_two .top-line{width:395px;height:6px;}
#row-line .block_two .block-text{margin-left: 184px;}
#row-line .block_two .telefon{margin-top:21px;}
        
#line2 {width:1306px;height:315px;text-align:center;border-radius: 0px 0px 25px 25px;}
#line2 .top-line {width:100%;height:6px;}
#line2 .blok-text {margin: 0 auto;}
#line2 .blok-text .block-h3 {margin-top: 40px;}
#line2 .blok-text .block-h3 h3 {margin-bottom: 3px;}
#line2 .blok-text .block-text-list{}
#line2 .blok-text .block-link{width:818px;height:52px;margin: 0 auto;}


/*ABOUT */
#row_one{width:1306px;height:357px;}
/*#row_one .pimpocka{width:70px;height:16px;position:relative;left:120px;top:-16px;}*/
#row_one .top-map-line{margin-top:0px;padding-left:38px;padding-top:35px;}
#row_one .top-map-line a{ margin-right: 6px;}
#row_one #circle{width:4px;height:4px;display:inline-block;margin-left:10px;margin-right: 10px;padding-bottom: 3px;}
#row_one .block_text .block-h3{display:inline-block;margin-left:40px;margin-bottom:0px;margin-top:7px;}
#row_one .block_text .block-h3 h2{margin:0px;}
#row_one .block_text .block-text-list{margin-left:90px;margin-top:60px;}
#row_one .block_text .block-text-list p{margin-left:27px;}



/* ABOUT-ROW-TWO */
#row-two{display:block;height:335px;width:100%;overflow:hiden;margin-top:0px;padding-top: 50px;}
#row-two .top-line-h2{text-align: center;}
#row-two .top-line-h2 h2{margin-bottom:0; margin-top:0px;}
#row-two .achievements-blok{/*width:33.33%;*/height:252px;float:left;margin-left: 8%;}
#row-two .achievements-blok .blok-img{float:left;height:117px;width:116px;margin-top:70px;margin-left:30px;}
#row-two .achievements-blok .blok-img .one{margin-left:30px;}
#row-two .achievements-blok .blok-img .two{}
#row-two .achievements-blok .blok-img .three{}
#row-two .achievements-blok .blok-text{display:inline-block;margin-top:82px;}
#row-two .achievements-blok .blok-text p{display:inline-block;margin-left:20px;}
#row-two .achievements-blok .blok-text .delimiter_line{height:3px; width:20px;margin-top:10px;margin-left:20px;}

/* ABOUT-ROW-THREE */
#row_three{display:inline-block;height:324px;width:100%;}
#row_three .frame-line-three{margin-left:750px; margin-top: 75px;}
#row_three .frame-line-three .line-three-block .block-h3 h3{margin-top:0px;margin-bottom:16px;}
#row_three .frame-line-three .delimiter_line{height:3px;width:20px;}
#row_three .frame-line-three ul {padding-left: 12px;}



/* ABOUT-ROW-FOUR */
#row_four{display: block;height:157px;width:100%;overflow:hiden;margin-top:0px;padding-top:35px;}
#row_four .top-line-h2{text-align: center;}


/* ABOUT-ROW-FIVE */
#row_five{display:inline-block;height:321px;width:100%;}
#row_five .frame-line-five{margin-left:100px; margin-top: 75px;}
#row_five .frame-line-five .line-block .block-h3 h3{margin-top:0px;margin-bottom:16px;}
#row_five .frame-line-five .delimiter_line{height:3px;width:20px;}
#row_five .frame-line-five .block-link .block-span{float:left;}
#row_five .frame-line-five .block-link .block-link{float:left;}
#row_five .frame-line-five .block-link span{}
#row_five .frame-line-five .block-link .link-button {
	border-radius: 25px 25px 25px 25px;
	width:200px;
	/*text-align:center;*/
	height: 24px;
    margin-top: 5px;
    padding-bottom: 3px;
    padding-top: 8px;
}


/* ABOUT-ROW-SIX */
#row_six{display:inline-block;height:321px;width:100%;}
#row_six .frame-line-six{margin-left:750px; margin-top: 75px;}
#row_six .frame-line-six .line-block .block-h3 h3{margin-top:0px;margin-bottom:16px;}
#row_six .frame-line-six .delimiter_line{height:3px;width:20px;}
#row_six .frame-line-six .block-link .block-span{float:left;}
#row_six .frame-line-six .block-link .block-link{float:left;}
#row_six .frame-line-six .block-link span{}
#row_six .frame-line-six .block-link .link-button {
	border-radius: 25px 25px 25px 25px;
	width:150px;
	/*text-align:center;*/
	height: 24px;
    margin-top: 5px;
    padding-bottom: 3px;
    padding-top: 8px;
}


/* ABOUT-ROW-SEVEN*/
#row_seven{display:inline-block;height:321px;width:100%;border-radius: 0px 0px 25px 25px;text-align: center;}
#row_seven .top-line-h2 h2 {margin-top:70px;}
#row_seven .block-link{display: inline-block;}
#row_seven .block-link a {float:left;text-decoration: none;}
/*#row_seven .block-link .block-link{float:left;}*/
#row_seven .block-link span{}
#row_seven .block-link a .download {margin-right: 5%;}
#row_seven .block-link a .resume {margin-left: 5%;}
#row_seven .block-link a .link-button {
	border-radius: 25px 25px 25px 25px;
	width:220px;
	/*text-align:center;*/
	height: 24px;
    margin-top: 5px;
    padding-bottom: 3px;
    padding-top: 8px;
}


/* BOTTOM MENU */
div.bottom-menu{position:absolute; right:40px;}
div.bottom-menu ul{margin:0;padding:0;}
div.bottom-menu ul li{list-style-type: none; margin:0 10px; padding:0; font-size:0.9em; float:left;}

/* BOTTOM MENU LEFT */
div.bottom-menu-one{position:absolute; left:50px; width:130px;min-width: 20px;}
div.bottom-menu-two{position:absolute; left:185px;min-width: 20px;}
div.bottom-menu-three{position:absolute; left:320px;min-width: 20px;}
div.bottom-menu-four{position:absolute; left:455px;min-width: 20px;}
div.bottom-menu-left ul{margin:0; padding:0;}
div.bottom-menu-left ul li{font-size:0.90em; list-style-type: none; overflow: hidden; margin:0; padding:0;margin-bottom:4px;}
div.bottom-menu-left div.bottom-menu-title{margin-bottom:15px;}

/* MAIN THEME */
div.main-theme-list{margin-bottom:40px;}
div.main-theme-list div.main-theme-title {font-size:1.5em; font-weight:bold; padding-bottom:8px; margin-bottom:10px;}
div.main-theme-list table td {vertical-align:top;}
div.main-theme-list img.preview_picture {margin-right:20px; width: 310px; height: 130px;}
div.main-theme-list td.theme-text {width:100%;}
div.main-theme-list div.main-theme-name {font-size:1.25em;margin-bottom:10px;}
div.main-theme-list div.main-theme-name a {text-decoration:none;font-weight:bold;}
div.main-theme-list div.theme-news-list span.news-date-time {font-size:0.75em;}
div.main-theme-list div.theme-news-list a {text-decoration:none;}
div.main-theme-list div.theme-news-list a:hover {text-decoration: underline;}
div.main-theme-list div.theme-news-list div.theme-news-item{margin-bottom:10px;}


/* MAIN NEWS */
div.main-news-list div.news-item {margin-bottom:30px;}
div.main-news-list div.main-news-title {margin-bottom:15px;}
div.main-news-list div.news-picture {margin-right:16px; width:138px !important; float:left; text-align:center; padding-top:2px;}
div.main-news-list div.news-name {margin:5px 0 !important; font-size:1.15em !important;}
div.main-news-list div.news-name a {text-decoration:none;}
div.main-news-list div.news-name a:hover {text-decoration:underline;}
div.main-news-list span.news-preview-text{font-size:0.91em !important;}
div.main-news-list div.news-text-pict {margin-left:140px !important;}
div.news-list div.main-news-list{margin-top:0  !important;}

/* NEWS LIST */
div.news-list div.news-item {margin-bottom:30px;}
div.news-list div.news-text-pict{margin-left:98px;}
div.news-list div.main-news-title {margin-bottom:15px;}
div.news-item span.news-date-time {font-size:0.75em;}
div.news-list div.news-picture {margin-right:16px; float:left; min-width: 82px; text-align:center;  margin-top:2px;}
div.news-list div.news-name {margin-bottom:2px;font-size:1em;}
div.news-list div.news-name a {text-decoration:none;}
div.news-list div.news-name a:hover {text-decoration:underline;}
div.news-list span.news-preview-text{font-size:0.90em;}
div.news-list span.news-show-property{font-size:0.75em;}


/* NATIONAL NEWS */
div.national-news div.news-text{font-size:0.85em;}
div.national-news div.news-picture {margin-right:10px;}
div.national-news a {text-decoration:none;}
div.national-news span.news-show-counter{font-size:0.90em;}
div.national-news div.news-item-left{margin-right:10px;}

/* DETAIL NEWS */
div.news-detail div.news-text {margin-top:10px;}
div.news-detail div.news-picture {margin-right:16px; float:left; text-align:center; padding-top:2px;}
div.news-detail span.news-date-time {font-size:0.75em;}
div.news-detail-back {font-size:0.85em;margin:10px 0;}
div.news-detail-theme {margin:15px 0 15px 0;padding-top:15px;}
div.news-detail-theme div.news-theme-title {margin-bottom:10px;}
div.news-detail div.news-theme-date {font-size:0.75em;float:left; width:131px; text-align:right}
div.news-detail div.news-theme-url {font-size:0.90em; margin-left:138px;}
div.news-detail div.news-theme-item {margin:3px 0;}
div.news-detail div.news-property {margin-top:10px; font-size:0.85em}
div.news-detail div.news-detail-share {float: right; margin-right: 110px; margin-top: -31px}

/* THEMES */
table.theme-list{width:100%;}
table.theme-list td{padding:5px 0;}
table.theme-list td.theme-letter{width:30px; font-weight:bold;}

/* JOB */
div.job-item{font-size:0.9em;}
div.main-vacancy{margin-right:11px;}
div.main-resume{margin-left:11px;}
div.job-item{margin-bottom:3px;}
div.job-list div.job-list-title{margin-left:55px;}
div.main-vacancy div.job-list-title, div.main-resume div.job-list-title{margin-left:0;}
div.job-list ul li{list-style-type: none; background:url(images/bullet.gif) left no-repeat; padding-left:15px; margin-bottom:7px }
div.job-list ul li span{font-size:0.85em}
div.job-section table{width:100%}
div.job-section td{padding:5px 10px;}
div.job-section th{padding:5px 10px; text-align:left; font-weight:normal; font-size:0.9em}
div.job-element div.job-prop-title{margin-bottom:5px; font-size:0.9em; font-weight:bold;}
div.job-element div.job-prop-text{margin-bottom:20px;}

/* BOARD */
div.board-section-list ul{margin:0;padding:0;}
div.board-section-list td{font-size:1.20em; vertical-align:top;padding-bottom:20px;}
div.board-section-list td.td0{padding-right:20px;}
div.board-section-list ul li{font-size:0.75em;list-style-type: none; float:left; margin-right:10px;}
div.board-section-list span{font-size:0.85em}
div.board-section-list a.board-section-selected{text-decoration:none;}
div.board-section span.board-date{font-size:0.85em;}
div.board-section div.board-title{margin-bottom:8px;margin-top:13px; font-weight:bold;}
div.board-section div.board-text{margin-top:10px;}
div.board-sections div.hr{margin-bottom:0;}

/* Navigation */
div.navigation {
	font-size:100%;
	line-height:200%;
	float: right;
}
div.navigation span.disabled{
	
}
span.navigation-title { 
	
	padding-right:0.65em; 
	font-weight: bold;
}
div.navigation a{
	text-decoration: none;
}
span.nav-current-page {
	border-radius: 50%;
}
div.navigation span.arrow {
	font-size:100%; 
	font-family:Times, serif;
}
div.navigation span.ctrl { font-size:85%; }
div.national-news-add { float:right; margin-top:-40px; font-size:0.85em; }



/* REVIEWS */
table.reviews-post-table {border-top: 0; margin-bottom: 1em; width: 100%;}
table.reviews-post-table div.reviews-text{padding-top: 0.40em;}
table.reviews-post-table thead td, table.reviews-post-table tbody td {padding-top: 0.20em;}
div.reviews-add-text{text-align:center; font-size:0.9em; color:#494949; margin-bottom:10px; padding-top: 10px;}
div.reviews-add-text a{color:#494949}
table.reviews-post-table table.forum-quote{width:95%; margin:10px 0 0 20px;}
table.reviews-post-table table.forum-quote th{text-align:left;font-weight:normal;padding-left:10px;}
table.reviews-post-table table.forum-quote td{padding-left:10px;}

/* VOTE */
div.voting-form-box{margin-bottom:20px;}
div.voting-form-box div.vote-item-title{font-size:0.90em;}
div.voting-form-box div.vote-answers-list{margin:0 60px 0 20px;}
div.voting-form-box table.vote-answers-list{width: 100%;}
div.voting-form-box table.vote-answers-list td.vote-answer-name{width: 100%; border-top:1px dotted #b2b2b2; padding:5px 0; font-size:0.90em; vertical-align:top;}
div.voting-form-box table.vote-answers-list td.vote-answer-percent{padding:5px; border-top:1px dotted #b2b2b2; vertical-align:top;}
div.voting-form-box table.vote-answers-list td.vote-answer-counter{padding:5px; border-top:1px dotted #b2b2b2; vertical-align:top;}
div.voting-form-box ol.vote-items-list{margin:0 60px 0 20px;}
div.voting-form-box ol.vote-items-list li{ border-top:1px dotted #b2b2b2;}
div.voting-form-box div.vote-vote-footer{margin-left:20px;}

/* ADD FORM */
div.data-form div.data-form-line{margin-bottom:20px;}
div.data-form div.data-form-name{margin-bottom:5px;}
div.data-form div.data-form-input input, div.data-form div.data-form-input select, div.data-form div.data-form-input textarea{padding:4px;}
div.data-form div.data-form-input input, div.data-form div.data-form-input textarea{width:90%;}
div.data-form div.data-form-input input.checkbox{width:auto;}
div.data-form div.data-form-input select{width:255px;}
div.data-form div.data-form-input #input_date_active_to, div.data-form div.data-form-input #captcha_word, div.data-form div.data-form-input #input_21, div.data-form div.data-form-input #input_24{width:245px;}

/* LIST FORM */
table.data-table thead td{font-size:1.10em; padding-bottom:15px;}
table.data-table{width:100%;}
table.data-table td{padding-right:20px;}
table.data-table tfoot td{padding-top:15px;}

/* BLOG */
.blog-posts{width: 100%; float: none;}
div.blog-sidebar{width: 100%; float: none;}
div.blog-sidebar-info{width: 50%; float: left;}
div.blog-sidebar-calendar{width: 50%;float: left;}
div.blog-search-form div.blog-search-text input{width:150px;}
div.blog-search-form div{float:left;margin-right:10px;}
div.blog-sidebar{padding-left:10px;}
div.blog-sidebar ul li.blog-search{height:65px;}
div.blog-sidebar ul{padding:0;}
div.blog-sidebar ul li{list-style-type: none;}
div.blog-sidebar ul h3{padding-bottom:10px;}
div.blog-sidebar ul li.blog-tags ul li, div.blog-sidebar ul li.blog-settings ul li{font-size:0.9em}
div.blog-sidebar div.blog-sidebar-calendar ul li.blog-calendar{margin-left:20px;}

.blog-post {margin:10px 0; padding-bottom: 1em; padding-right:0.8em;}
div.blog-post-meta div.blog-post-info-bottom {display:none;}
.blog-post-title{font-size:1.15em; font-weight:normal;padding:0 0 7px 0;}
.blog-post-info{background:none; padding:4px 0}
.blog-post-info-back{background:none; font-size:0.85em; height: 20px;}
div.blog-post-meta-util, div.blog-post-tag{font-size:0.9em;}

div.blog-post-current .blog-post-title{display:none}

div.blog-comment-avatar{ display:none; }

/* PHOTO */
div.photo-info-box{margin-bottom:20px;}
div.photo-header-component, div.photo-header-big{font-size:1.15em; font-weight:normal;padding:0 0 7px 0; margin-bottom:0;}
div.photo-header-big{border:0;}
div.photo-header-big div.photo-header-inner, div.photo-header-middle div.photo-header-inner{margin-bottom:0; padding-bottom:10px}
div.photo-td-left div.photo-controls-buttons ul.photo-controls li a span{background:none;padding: 0;text-align:left;}
div.photo-td-left div.photo-controls-buttons ul.photo-controls li a{font-size:1em; font-weight:normal; text-decoration:underline; width:auto; padding:0}
div.photo-td-left div.photo-controls-buttons ul.photo-controls li a:hover{text-decoration:none}
div.photo-td-left div.photo-controls-buttons ul.photo-controls li{margin:0;padding:0; float:left;clear: none; padding-right:20px;}
div.photo-td-left div.photo-controls-usermenu{margin-bottom:10px;}

div.bitrix{margin-left:1.5em;margin-top:3px; font-size:0.80em}
div.bitrix a{color:#717171}


/* BREAD CRUMb */
#bread_crumb{}
#bread_crumb a{}
#bread_crumb b{margin-left:10px;margin-right:10px;}

/* PAGE TITLE */
#page_title h2{}

/* APTEKI */
#apteki{
	height:100%;
	/*width:100%;*/
	overflow: hidden;
	min-height:600px;
	border-radius: 0px 0px 25px 25px;
	padding-left: 40px;
    padding-right: 40px;
    padding-top: 35px;	
}

#tabs{}

#map_apteki{}

#spiski_apteki{}

#nearest_apteki{}

#apteki_list{display:block; min-width:600px; position: relative;}

#job-section .block_title{

}


#job-section .delim_line{
	display:block;
	height:3px;
	width:20px;
}




/*TAB'S*//*TAB'S*//*TAB'S*//*TAB'S*//*TAB'S*//*TAB'S*//*TAB'S*/



/* TABS */
.tabs {
    position: relative;
    width: 100%;
    margin-top: 70px;

}
.tabs label {
	display: block;
	float: left;
	border-radius: 40px;
	border: 2px solid #d3d3d3;
	color: #d3d3d3;
	cursor: pointer;
	font-size: 15px;
	position: relative;
	top: 0px;
	width: 150px;
	line-height: 32px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	z-index: 1;
}

.tabs label:hover{   
	border: 2px solid #5e97bc;
	color: #5e97bc;
}
.tabs input {
	position: absolute;
	left: -9999px;
}
.tabs_cont {
	background: #fff;
	border-top: 2px solid #5e97bc;
	padding: 25px 0;
	position: relative;
	top: -4px;
	z-index: 2;
	clear: both;
}
.tabs_cont > div {
	position: absolute;
	right: -99999px;
	height: auto;
	/*top: 0;*/
	bottom: 0;
	display: hidden;
	-moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
	visibility: visible;
}
/*отступы*/
#tab_l1{
	margin-left: 10px;
}
#tab_l2{
	margin: 0 0px 0 10px;
}

#tab_l3{
	margin-left: 0px;
	margin-right: 10px;
}

#tab_1:checked  ~ #tab_l1,
#tab_2:checked  ~ #tab_l2,
#tab_3:checked  ~ #tab_l3 {
	top: -1px;
	display: block;
	color: #5e97bd;
	background: url('images/tabs_bg.png') no-repeat center;
	width: 150px;
	height: 45px;
	z-index: 3;
	padding: 0;
	margin: 0;
	border: none;
}
#tab_1:checked ~ .tabs_cont #tab_c1,
#tab_2:checked ~ .tabs_cont #tab_c2,
#tab_3:checked ~ .tabs_cont #tab_c3 {
	position: static;
	left: 0;
	width: 100%;
	min-height: 500px;
	opacity: 1;
	border-top: 5px solid #5e97bd;
	border-radius: 0px 0px 40px 50px;
	overflow: hidden;

}
#tab_3:checked ~ .tabs_cont #tab_c3{
	
}
/*END TAB'S*/
nput, textarea, a {outline:none;}
input:active, a:active, textarea:active {outline:none;}
:focus {outline:none;}
textarea {resize:none;}
textarea {resize:vertical;}
textarea {resize:horizontal;}

#job-section .colums-block .coloms .block{
	padding-bottom: 10px;
}
#job-section .colums-block .coloms{
	width: 26%;
	float: left;
	margin: 30px 0 10px 10px;
	
}

#job-section .colums-block .coloms .checkbox{
	background: #000;
	width: 100%;
	height: 200px;
}
#job-section .colums-block .coloms ul{
	list-style: none;
	padding: 0 0 10px 0;
}
#job-section .colums-block .coloms ul li{
	/*border: 1px solid #ece6df;*/
  padding: 10px;
  width: 70%;
  height: 60px;
  /*border-radius: 25px 25px;*/
  margin: 0 0 10px 0px;
  border-bottom: 1px solid #ece6df;
  padding: 10px 0;
  width: 74%;
  position: relative;
}

#job-section .colums-block .coloms ul li:hover {
	height: 200px;
	background: none;
}
#job-section .colums-block .coloms ul li:hover a{
	position: relative;
	color: #02578e;
	text-decoration: underline;
	cursor: pointer;
}

#job-section .colums-block .coloms ul li:hover a:before{
	display: block;
  content: "";
  margin: 0  0 0 5px;
  border: 2px solid #5e97bd;
  border-radius: 25px;
  background: transparent;
  position: absolute;
  height: 200px;
  width: 246px;
  top: -37px;
  left: -30px;
  text-decoration: none;
  /* background: fuchsia; */
  clear: both;
}

#job-section .element_telefon{ 
	display: none;
}
#job-section .img{
	display: none;
}
#job-section .colums-block .coloms ul li:hover .element_telefon{
	display: block;
	margin: 0  0 0 10px;
	background: #f0f5f9;
	border-radius: 10px;
	padding: 10px 10px;
	text-align: left;
}
#job-section .colums-block .coloms ul li:hover .img{
	display: block;
	margin: 10px 0 0 10px;
	
}
#job-section .colums-block .coloms ul li .citi{
	color: #6e6e6e;
	font-size: 13px;
	margin: 10px 0 10px 20px;
}
#job-section .colums-block .coloms ul li a{
	color: #222222;
	text-decoration: none;
	cursor: pointer;
	margin: 0 0 20px 20px;
	position: relative;
	display: block;
}




/*JQUERY BUTTON TOP STYLE*/
 #back-top {
	position: fixed;
	bottom: 195px;
	right: 100px;
}
#back-top a {
	width: 50px;
	height: 50px;
	display: block;
	text-decoration: none;
	background: url('images/botton-arrow-top.png') no-repeat center;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
	position: relative;
}
#back-top a span{
	display: none;
}
#back-top a:hover span{
	color: #02578e;
	display: block;
	text-transform: uppercase;
	text-align: center;
	font: bold 14px Arial, Helvetica, sans-serif;
	position: absolute;
	bottom: -20px;
  	left: -26px;
    width: 100px;
}



/*END JQUERY BUTTON TOP STYLE*/






/*POPUP*/
.overlays{
	background-color: rgba(0, 0, 0, 0.9);
	bottom: 0;
	cursor: default;
	left: 0;
	opacity: 0;
	position: fixed;
	right: 0;
	top: 0;
	visibility: hidden;
	/* z-index: 99999; */
	-webkit-transition: opacity .7s;
	-moz-transition: opacity .7s;
	-ms-transition: opacity .7s;
	-o-transition: opacity .7s;
	transition: opacity .7s;
	z-index: 3000;
}
.popups{
	background-color: #fff;
	border: 3px solid #5E97BC;
	display: block;
	right: 150%;
	top: 20%;
	opacity: 0;
	padding: 15px;
	width: 600px;
	margin: 0 auto;
	height: 480px;
	position: relative;
	text-align: justify;
	visibility: hidden;
	z-index: 999999;
	-webkit-transition: opacity 1s, top 1s;
	-moz-transition: opacity 1s, top 1s;
	-ms-transition: opacity 1s, top 1s;
	-o-transition: opacity 1s, top 1s;
	transition: opacity 1s, top 1s;
	border-radius: 11px;
	margin: 0 auto;
	display: block;
}
.popups .closes{
	font-size: 22px;
	display: block;
	width: 12px;
	height: 25px;
	position: absolute;
	padding: 1px 9px 4px 9px;
	top: -15px;
	right: -15px;
	cursor: pointer;
	color: #fff;
	background-color: #3d51c8;
	border: 1px solid #061fb8;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	text-align: center;	
}
.popups .closes:hover{
	color: red;
	font-weight: bold;
	-webkit-transition: 1s ;
 	-moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transform: rotate(360deg); 
    -moz--transform: rotate(360deg); 
    -o-transform: rotate(360deg); 
    transform: rotate(360deg);
    
}

/*POPUP*/

.overlay{
	background-color: rgba(0, 0, 0, 0.9);
	bottom: 0;
	cursor: default;
	left: 0;
	opacity: 0;
	position: fixed;
	right: 0;
	top: 0;
	visibility: hidden;
	/* z-index: 99999; */
	-webkit-transition: opacity .7s;
	-moz-transition: opacity .7s;
	-ms-transition: opacity .7s;
	-o-transition: opacity .7s;
	transition: opacity .7s;
	z-index: 3000;
}
.popup{
	background-color: #fff;
	border: 3px solid #5E97BC;
	display: block;
	left: 30%;
	top: 10%;
	opacity: 0;
	padding: 15px;
	width: 600px;
	margin: 0 auto;
	height: 550px;
	position: fixed;
	text-align: justify;
	visibility: hidden;
	z-index: 999999;
	-webkit-transition: opacity 1s, top 1s;
	-moz-transition: opacity 1s, top 1s;
	-ms-transition: opacity 1s, top 1s;
	-o-transition: opacity 1s, top 1s;
	transition: opacity 1s, top 1s;
	border-radius: 11px;
	margin: 0 auto;
	display: block;
}

.popup .close_window{
	font-size: 22px;
	display: block;
	width: 12px;
	height: 25px;
	position: absolute;
	padding: 1px 9px 4px 9px;
	top: -15px;
	right: -15px;
	cursor: pointer;
	color: #fff;
	background-color: #5E97BC;
	border: 1px solid #061fb8;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	text-align: center;	
	-webkit-transition: 0.7s ;
 	-moz-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
	-webkit-transform: rotate(-360deg); 
    -moz--transform: rotate(-360deg); 
    -o-transform: rotate(-360deg); 
    transform: rotate(-360deg);
}
.popup .close_window:hover{
	color: red;
	background-color: #3d51c8;
	font-weight: bold;
	-webkit-transition: 1s ;
 	-moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transform: rotate(360deg); 
    -moz--transform: rotate(360deg); 
    -o-transform: rotate(360deg); 
    transform: rotate(360deg);
    
}
/*POPUP ЗАКАЗАТЬ ОБРАТНЫЙ ЗВОНОК*/
	/*POPUP*/

.overlay1{
	background-color: rgba(0, 0, 0, 0.9);
	bottom: 0;
	cursor: default;
	left: 0;
	opacity: 0;
	position: fixed;
	right: 0;
	top: 0;
	visibility: hidden;
	/* z-index: 99999; */
	-webkit-transition: opacity .7s;
	-moz-transition: opacity .7s;
	-ms-transition: opacity .7s;
	-o-transition: opacity .7s;
	transition: opacity .7s;
	z-index: 3000;
}
.popup1{
	background-color: #fff;
	border: 3px solid #5E97BC;
	display: block;
	left: 30%;
	top: 10%;
	opacity: 0;
	padding: 15px;
	width: 600px;
	margin: 0 auto;
	height: 550px;
	position: fixed;
	text-align: justify;
	visibility: hidden;
	z-index: 999999;
	-webkit-transition: opacity 1s, top 1s;
	-moz-transition: opacity 1s, top 1s;
	-ms-transition: opacity 1s, top 1s;
	-o-transition: opacity 1s, top 1s;
	transition: opacity 1s, top 1s;
	border-radius: 11px;
	margin: 0 auto;
	display: block;
}

.popup1 .close_window1{
	font-size: 22px;
	display: block;
	width: 12px;
	height: 25px;
	position: absolute;
	padding: 1px 9px 4px 9px;
	top: -15px;
	right: -15px;
	cursor: pointer;
	color: #fff;
	background-color: #5E97BC;
	border: 1px solid #061fb8;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	text-align: center;	
	-webkit-transition: 0.7s ;
 	-moz-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
	-webkit-transform: rotate(-360deg); 
    -moz--transform: rotate(-360deg); 
    -o-transform: rotate(-360deg); 
    transform: rotate(-360deg);
}
.popup1 .close_window1:hover{
	color: red;
	background-color: #3d51c8;
	font-weight: bold;
	-webkit-transition: 1s ;
 	-moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transform: rotate(360deg); 
    -moz--transform: rotate(360deg); 
    -o-transform: rotate(360deg); 
    transform: rotate(360deg);
    
}
	
/*END */
div.mfeedback {
	width: 90%;
}
div.mfeedback p{
	margin: 0px;
	width: 110%;
}
div.mf-name,div.mf-email,div.mf-message {
	margin-top: 15px;
}
.mf-text{
	padding-left: 15px;
	font-weight: bold;
	font-size: 14px;
}
div.mf-captcha,
}
.send{
	display: block;
	background: #5e97bc;
	color: #fff;
	border-radius: 20px;
	padding: 15px 25px;
	border: 0;
	outline: none;
	font: 12px "Arial";
	text-transform: uppercase;
	clear: both;
	cursor: pointer;
	box-shadow: 0 1px 0 #dfeaf2;
	margin: 10px 0;
}
div.mf-name input, div.mf-email input {
	width:100%;
    padding-bottom:0.4em;
  	height: 35px;
	border-radius: 25px;
	moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	padding-right: 15px;
	padding-left: 25px;
	border: 2px solid #5e97bc;
	color: #5e97bc;
	background: #f8f8f8;
}

div.mf-message textarea{
	width:100%;
	height: 150px;
    border-radius: 25px;
	moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	padding: 25px 20px;
	border: 2px solid #5e97bc;
	color: #5e97bc;
	background: #f8f8f8;
}

span.mf-req {color:red;}
div.mf-ok-text {color:green; font-weight:bold; padding-bottom: 1em;}





/*-------------------------NEWS-------------------------------*/

.news-list{
	float: left;
	margin-top: 40px;
	padding: 0;
}
.news-list .preview_picture{
	height: 127px;
    width: 127px;
}
div.news-list .news-item{
 	width: 335px;
	margin-right: 20px;
	float: left;
	display: block;
	height: 100%;
 }
div.news-list .news-item:last-child{
 	margin-right: 0px;
	padding-left: 50px;
	border-left: 1px solid #cecece;
 }
div.news-list .news-item .news-date-time{
	color: red;
}
.red-line{
	height: 3px;
	width: 10px;
	background: red;
}
div.news-list .news-item .name_link{
	color:#000000;
	font-weight:600;
	font-size:10pt;
	text-transform:uppercase;
	margin-top: 10px;
	text-decoration:none;
	display: block;
}
.news-list .news-item .text{
	color:#8b8b8b;
	font-weight:400;
	font-size:12pt;
	text-decoration:none;
	display: block;
	position: relative;
}
.news-list .news-item .text:before{
	content: '';
	display: block;
	width: 18px;
	height: 3px;
	position: absolute;
	top: -10px;
	left: 0px;
	background: #ed1c24;
}
div.news-list .news-item .link_detail{
	color: #ed1c24;
	display: inline-block;
	font-weight:400;
	font-size:13pt;
	text-decoration:none;
	display: block;
	text-transform:uppercase;
	margin-top: 20px;
}


/*------------------------subscribeform----------------------------*/
#subscribeform {
	position: relative;
	margin: 0 auto;
	width: 100%;
}
.left-area-form{
	width: 326px;
	height: 50px;
	border-radius: 25px;
	margin-top: 16px;
	padding-left: 20px;
	border: 0;
	float: left;
	margin-left: 240px;
	margin-right: 40px;
	border: 2px solid #f18270;
}
.sign-up-wrap:-moz-placeholder{
	color: #000;
	font-size: 13px;
	}
.left-area-form:-moz-placeholder{
	color: #000;
	font-size: 13px;
}

/* for ff*/
.sign-up-wrap::-webkit-input-placeholder {
	color: #000;
	font-size: 13px;
}
.left-area-form::-webkit-input-placeholder {
	color: #000;
	font-size: 13px;
}
.left-area-form::-webkit-input-placeholder       {text-indent: 0px;   transition: text-indent 0.8s ease;}
.left-area-form::-moz-placeholder                {text-indent: 0px;   transition: text-indent 0.8s ease;}
.left-area-form:-moz-placeholder                 {text-indent: 0px;   transition: text-indent 0.8s ease;}
.left-area-form:-ms-input-placeholder            {text-indent: 0px;   transition: text-indent 0.8s ease;}

.left-area-form:focus::-webkit-input-placeholder {text-indent: 500px; transition: text-indent 0.8s ease;}
.left-area-form:focus::-moz-placeholder          {text-indent: 500px; transition: text-indent 0.8s ease;}
.left-area-form:focus:-moz-placeholder           {text-indent: 500px; transition: text-indent 0.8s ease;}
.left-area-form:focus:-ms-input-placeholder      {text-indent: 500px; transition: text-indent 0.8s ease;}
 
 
.sign-up-wrap::-webkit-input-placeholder       {text-indent: 0px;   transition: text-indent 0.8s ease;}
.sign-up-wrap:-moz-placeholder                 {text-indent: 0px;   transition: text-indent 0.8s ease;}
.sign-up-wrap:-ms-input-placeholder            {text-indent: 0px;   transition: text-indent 0.8s ease;}

.sign-up-wrap:focus::-webkit-input-placeholder {text-indent: 500px; transition: text-indent 0.8s ease;}
.sign-up-wrap:focus:-moz-placeholder           {text-indent: 500px; transition: text-indent 0.8s ease;}
.sign-up-wrap:focus:-ms-input-placeholder      {text-indent: 500px; transition: text-indent 0.8s ease;}

.sign-up-wrap{
	width: 410px;
	height: 50px;
	margin-left: -170px;
	padding-left: 20px;
	border-radius: 25px;
	border: 0;
	border: 2px solid #f18270;
}
.sign-up{
	width: 150px;
	height: 40px;
	border: 0;
	border-style: none;
	cursor: pointer;
	color: #fff;
	border-radius: 25px;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	background: #f18270;
	top: 24px;
	position: absolute;
	left: 944px;
	transition:all 0.5s linear;
	-moz-transition:all 0.5s linear;
	-webkit-transition:all 0.5s linear;
	-o-transition:all 0.5s linear;
}
@-moz-document url-prefix()
{
	.sign-up { 
		top: 27px;
	 }
	.popup {
		height: 600px;
	}
}

@media all and (-webkit-min-device-pixel-ratio:10000), 
not all and ( -webkit-min-device-pixel-ratio : 0 ) { 
  .popup {
		height: 600px;
	}
}


.sign-up:hover{
	background: red;
	color: #000000;
	/*-webkit-transition:  0.8s linear 0.5s;
    -moz-transition:  0.8s linear 0.5s;
    -o-transition:  0.8s linear 0.5s;
    transition:  0.8s linear 0.5s;*/
}


/*color-markers*/

#colors-marker{
	margin: 20px 0;
	list-style: none;
	clear: both;
	position: relative;
}
#colors-marker:before{
content: '';
	display: block;
	width: 221px;
	height: 448px;
	position: absolute;
	top: -468px;
	right: 280px;
	background: url("images/transparent-bg.png") no-repeat transparent;
}
#colors-marker a{
	position: relative;
	display: block;
	color: #000;
	font-size: 14px;
	font-weight: 600;
	float: left;
	text-decoration: none;
	margin: 0 20px;
	padding: 25px 0 0 30px;
}

#colors-marker .red{
	background: url('images/red-marker.jpg') no-repeat 0 5px ;
}

#colors-marker .blue{
	background: url('images/blue-marker.jpg') no-repeat 0 5px;
}

#colors-marker .purpure{
	background: url('images/purpure-marker.jpg') no-repeat 0 5px;
}

/*DETAIL APTEKI*/
#BX_GMAP_MAP_GOOGLE_VIEW_11_64_0 .bx-google-map{
	
	height: 300px;
	width: 200px;
	border-radius: 50px;
	border: 5px solid blue;
}



#bottom_block .blok_two{background:
url(images/akcii.png)  no-repeat left top, 
url(images/ugol_2.png)  no-repeat right bottom,
url(images/line-grey.png)  no-repeat bottom center, 
url(images/vert-line-grey.png)  no-repeat left center,
url(images/vert-line-grey.png)  no-repeat right center, 
url(images/ugol_grey.png)  no-repeat left bottom;}







#bottom_block{
	margin: 0 auto;
	clear: both;
}
/*first block*/
#bottom_block .blok_one {
	background: url(images/everydays.jpg) no-repeat left top;
	width: 327px;
	height: 348px;
	float: left;
	margin: 50px 0 60px 90px;
	border-radius: 0px 0px 25px 25px;
	background-color: #fff;
}
#bottom_block .blok_one .top-line{
	height: 6px;
	width: 100%;
	margin-top: 0px;
	background: #02578e;
}
#bottom_block .blok_one .blok-text {
	margin-left: 39px;
	margin-top: 190px;
}
#bottom_block .blok_one .red-text-number{
	color: #ed1c24;
	text-transform: uppercase;
	font-size: 30px;
}
#bottom_block .blok_one .blok-text .block-h3 h3{
	font-size: 12pt;
	font-weight: 100;
	margin-bottom: 30px;
	text-transform: uppercase;
}
#bottom_block .blok_one .blok-text .delimiter_line {
	background: #5e97bc;
}
#bottom_block .blok_one .blok-text .block-text-list p{
	font-size: 8pt;
	color: #6e6e6e;
	margin-bottom: 20px;
}




/*end first block*/

/*second block*/
#bottom_block .blok_two {
	background: url(images/loyalnost.png) no-repeat left top,
				 url(images/ugol_1.png) no-repeat right bottom,
				 url(images/line-grey.png) no-repeat bottom center, 
				 url(images/vert-line-grey.png) no-repeat left center,
				 url(images/vert-line-grey.png) no-repeat right center,
				 url(images/ugol_grey.png) no-repeat left bottom;
	 
	
	width: 360px;
	height: 354px;
	float: left;
	margin: 50px 0 60px 35px;
	border-radius: 0px 0px 25px 25px;
	background-color: #fff;
}
#bottom_block .blok_two .top-line{
	height: 6px;
	width: 100%;
	margin-top: 0px;
	background: #5e97bc;
}
#bottom_block .blok_two .blok-text {
	margin-left: 39px;
	margin-top: 190px;
}

#bottom_block .blok_two .blok-text .block-h3 h3{
	font-size: 9pt;
	font-weight: 800;
	text-transform: uppercase;
}
#bottom_block .blok_two .blok-text .delimiter_line {
	background: #5e97bc;
}
#bottom_block .blok_two .blok-text .block-text-list {
	font-size: 8pt;
	color: #6e6e6e;
}
#bottom_block .blok_two .blok-text a{
	color: #ffffff;
	background: #5e97bc;
	padding: 15px 35px;
	margin-top: 15px;
	border-radius: 25px;
	text-align: center;
	display: inline-block;
	text-decoration: none;
}
#bottom_block .blok_two .blok-text a:hover{
	text-decoration: none;
}
#bottom_block .delimiter_line{
	width: 20px;
	height: 3px;
	background: #5e97bc;
}

/*end second block*/
/*thrid block*/
#bottom_block .blok_three{
	background:
				url(images/arenda.png)  no-repeat left top, 
				url(images/ugol_3.png)  no-repeat right bottom,
				url(images/line-grey.png)  no-repeat bottom center, 
				url(images/vert-line-grey.png)  no-repeat left center,
				url(images/vert-line-grey.png)  no-repeat right center, 
				url(images/ugol_grey.png)  no-repeat left bottom;

	width: 360px;
	height: 354px;
	float: left;
	margin: 50px 0 60px 35px;
	border-radius: 0px 0px 25px 25px;
	background-color: #fff;
}
#bottom_block .blok_three .top-line{
	height: 6px;
	width: 100%;
	margin-top: 0px;
	background: #a1b7c6;
}
#bottom_block .blok_three .blok-text {
	margin-left: 39px;
	margin-top: 190px;
}
#bottom_block .blok_three .blok-text  .block-h3 h3{
	font-size: 9pt;
	font-weight: 800;
}
#bottom_block .blok_three .blok-text .delimiter_line {
	background: #5e97bc;
}
#bottom_block .blok_three .blok-text .block-text-list {
	font-size: 8pt;
	color: #6e6e6e;
}
#bottom_block .blok_three .blok-text a{
	color: #ffffff;
	background: #5e97bc;
	padding: 15px 35px;
	margin-top: 15px;
	border-radius: 25px;
	text-align: center;
	display: inline-block;
	text-decoration: none;
}
#bottom_block .blok_three .blok-text a:hover{
	text-decoration: none;
}
#bottom_block .delimiter_line{
	width: 20px;
	height: 3px;
	background: #5e97bc;
}
/*end */





.block_for_pictures{
	border-top: 6px solid #5e97bc;
	height: 436px;
	width: 400px;
	float: right;
	margin: 50px 10px 0px 0px;
}
.block_for_pictures .img{
	background: url(images/images-apteka.jpg)  no-repeat left top;
	height: 436px;
	width: 400px;
	
}
/*TOP BLOCK DETAIL APTEKI*/
.first-top-block{
	
	position: relative;
	border: 1px solid #6e6e6e;
	border-top: none;
	height: 279px;
	width: 327px;
	float: left;
	margin: 50px 30px 50px 30px;
	border-radius: 0 0 25px 25px;
}
.item_apteka{
	padding: 30px 15px;
}
.item_apteka:nth-child(2){
	background: #f0f5f9;
}
.item_apteka span{
	color: #5e97bc;
	font-size: 13px;
}
.first-top-block:before{
	content: '';
	display: block;
	width: 327px;
	height: 30px;
	position: absolute;
	top: -11px;
	left: 0px;
	background: url(images/arrow-top.png)  no-repeat;
}
.first-top-block:after{
	content: '';
	display: block;
	width: 35px;
	height: 35px;
	position: absolute;
	top: 245px;
	right: -1px;
	background:	url(images/ugol_2.png)  no-repeat;
}
/*this wrap horizintal-multilevelmenu*/
.wrap-ullist{
	width: 1053px;
	float: left;
}

.header-position-hotline{
	position: relative;
}
/*
.header-position-hotline:before{
	content: '';
    display: block;
    width: 100px;
    height: 97px;
    position: absolute;
    top: -4px;
    right: -44px;
	background: url("images/ribbonMC.PNG");
}*/
/*
.header-position-hotline:after{
	content: '';
    display: block;
    width: 390px;
    height: 163px;
    position: absolute;
    top: -9px;
    left: -372px;
	background: url('images/dedtree.PNG');
}*/
